


.special{
   background-color: lavender;
   color: pink;
   border:dotted 50px red;
   font-weight:bold;

}


#challenge {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}


#problems {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}



#results {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}


